:root {
    font-size: 62.5%;
    --color-primary: hsl(235, 35%, 19%);
    --color-secondary: hsl(358, 78%, 69%);
    --color-font: hsla(0, 0%, 100%, 0.902);
    --color-shadow: hsl(235, 36%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: 'Open Sans';
}

p, i, h1 {
    color: var(--color-font);
}

i, h1, .time p {
    font-size: 3.2rem;
}

section {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    width: min(42.5rem, 100%);
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: 0px 0px 5px 10px var(--color-shadow);
}

.panel p {
    opacity: 0.8;
    transition: 1s ease-in;
}

.panel p.active {
    opacity: 1;
    color: var(--color-secondary);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
}

.controls {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls button {
    border: none;
    background-color: transparent;
    color: var(--color-font);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.controls #reset {
    display: none;
}

.controls #reset {
    border: none;
    background-color: transparent;
    color: var(--color-font);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    display: none;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: var(--color-primary);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid var(--color-secondary);
    width: 30%;
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.close {
    color: var(--color-secondary);
    float: right;
    font-size: 28px;
    cursor: pointer;
}

label {
    color: var(--color-font);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
}

button {
    background-color: var(--color-secondary);
    color: var(--color-font);
    padding: 10px 15px;
    cursor: pointer;
}
